.buy-button {
  border: none;
  background-color: var(--orange);
  width: 20rem;
  height: 3rem;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  padding: 0.2rem 1.7rem;
  cursor: pointer;
  transition: all 0.5s;
}

.buy-button:hover {
  transform: scale(1.025);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Breakpoints */

@media (max-width: 480px) {
  .buy-button {
    width: 50%;
    height: 3rem;
  }
}
