.footer-container__middle {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 1rem 0;
}

.footer-container__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 940px;
  font-size: calc(0.5rem + 0.5vw);
}

.footer-container__bottom:last-child span {
  width: 940px;
  text-align: center;
  padding: 0.8rem 0;
}

.footer-bottom__text {
  text-align: center;

}

.links-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
}

.links-wrapper a,
.links-container__bottom a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
}

.links-container:after {
  content: "";
  background: #f1f0f5;
  position: absolute;
  bottom: -1.3rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 1170px;
}

.footer-box {
  display: flex;
  justify-content: center;
  text-align:  center;
  border: 1px solid black
}

/* Breakpoints */

@media (max-width: 1250px) {
  .links-container:after {
    width: 160%;
  }
}

@media (max-width: 1250px) {
  .links-container:after {
    width: 120%;
  }
}

@media (max-width: 1000px) {
  .footer-container__bottom:last-child span {
    width: 90%;
  }
  
  .footer-container__bottom {
    width: 90%;
  }
}

@media (max-width: 970px) {
  .footer-container__middle {
    grid-template-columns: repeat(1, 1fr);
  }

  .links-container__bottom {
    justify-self: center;
  }
  
  .links-container:after {
    width: 100%;
  }
}

@media (max-width: 740px) {
  .links-container {
    flex-direction: column;
  }
}

@media (max-width: 550px) {
    .footer-container__middle {
        padding: 0 2rem;
    }
}