.green-banner-wrapper {
  min-width: 1250px;
  background-color: var(--green);
  padding: 2rem 0rem;
  border-radius: 1.7rem;
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.2);
  background: url("../images/symbol.png"), var(--green);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-blend-mode: soft-light;
  background-position-y: 150%;
  background-position-x: 119%;
}

.green-banner,
.green-banner__two {
  display: flex;
  align-items: center;
  justify-content: center;
  word-wrap: break-word;
}

.green-been-wrapper__para-one {
  grid-area: 1 / 1 / 2 / 2; 
  text-align: left;
}

.green-been-wrapper__para-two {
  grid-area: 2 / 1 / 3 / 3; 
  text-align: left;
}

.green-been-wrapper__img {
  width: 350px;
}

.green-been-wrapper__img img {
  width: 85%;
  margin-left: 5rem;
}

.green-been-wrapper__inside {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1150px;
  padding: 4rem;
}

.green-banner-wrapper h3 {
  padding: 2rem 0 0;
}

/* Breakpoints */

@media (max-width: 1300px) {
  .green-banner-wrapper {
    min-width: unset;
    max-width: 90%;
  }

  .green-been-wrapper__inside {
    max-width: unset;
    width: 95%;
  }

  .green-banner-wrapper {
    background-position-y: 120%;
    background-position-x: 120%;
  }

  .green-been-wrapper__img img {
    width: 90%;
    margin: 5rem 0 0 2rem;
  }
}

@media (max-width: 790px) {
  .green-been-wrapper__img {
    display: none;
  }

  .green-been-wrapper__para-two {
    flex-grow: 0;
    width: 60%;
    z-index: 1;
  }

  .green-been-wrapper__para-one {
    width: 100%;
    height: 30%;
    flex-grow: 0;
  }

  .green-been-wrapper__img {
    width: 40%;
  }

  .green-banner {
    width: 80%;
    background-color: rgba(241, 240, 245, 0);
    border-radius: 0.7rem;
  }
}

@media (max-width: 630px) {
  .green-banner {
    width: 80%;
    min-height: unset;
    background-color: unset;
  }
}

@media (max-width: 450px) {
  .green-been-wrapper__img {
    display: none;
  }

  .green-banner-wrapper {
    background: url("../images/symbol.png"), var(--green);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-blend-mode: soft-light;
    background-position-y: 110%;
    background-position-x: 170%;
  }

  .green-banner {
    width: 98%;
  }
}
