.section {
  padding: 3rem 0 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.under-hero-container h4 {
  font-size: 40px;
}

.section-footer {
  display: flex;
  align-items: flex-end;
}

.center-text {
  text-align: center;
  inline-size: 820px;
  font-size: 1.8rem;
}

.section-header__text {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.section-header__text p {
  font-size: 22px;
}

.section-footer__text {
  text-align: center;
  inline-size: 570px;
  font-size: 1rem;
  font-weight: normal;
}

.offers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  width: 720px;
}

.offers-container__two,
.offers-container__three {
  margin-top: 3rem;
}

.model {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border-radius: 0.6rem;
  border: 1px solid var(--greyBg);
  gap: 1rem;
  padding: 0 0 1rem 0;
  transition: all 0.5s;
}

.model:hover {
  transform: scale(1.025);
}

.grey {
  background-color: var(--greyModel);
}

.model-header {
  border-top-right-radius: 0.6rem;
  border-top-left-radius: 0.6rem;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beige {
  background-color: var(--beige);
}

.green {
  background-color: var(--green);
  color: white;
}

.model-header__text {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}

.model-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.threePouches {
  width: 70%;
}

.fivePouches {
  width: 90%;
}

.model-amount {
  color: var(--green);
  font-size: 52px;
}

.model-save {
  font-size: 20px;
}

.model-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.model-button-container h6 {
  font-size: 18px;
  margin-top: 0.3rem;
}

.model-button-container h2 {
  font-size: 28px;
}

.model-button-container button {
  border: none;
  background-color: var(--orange);
  width: 340px;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}

.model-h4 {
  font-size: 24px;
}

.model-button-container button:hover {
  transform: scale(1.025);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.model-pay-options__wrapper {
  width: 50%;
}

.model-pay-options__wrapper img {
  width: 100%;
}

/* Breakpoints */

@media (max-width: 880px) {
  .offers-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
  }

  .under-hero-container h4 {
    font-size: 4vw;
  }

  .model {
    padding: 0 0 1rem 0;
  }

  .section-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-footer__text {
    inline-size: 370px;
    font-size: 2vw;
  }

  .center-text {
    inline-size: 450px;
    font-size: 3vw;
  }

  .section-header__text {
    font-size: 1.7vw;
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .center-text {
    inline-size: 300px;
    font-size: 4vw;
  }

  .section-header__text {
    font-size: 2.7vw;
  }

  .offers-container {
    width: fit-content;
  }

  .model {
    width: 15rem;
    height: unset;
  }

  .model-button-container button {
    width: 160px;
  }

  .model-header__text {
    font-size: 0.8rem;
  }

  .model-button-container button {
    font-size: 0.7rem;
  }

  .section-footer__text {
    inline-size: 270px;
  }

  .model-amount {
    font-size: 1.8rem;
  }

  .model-img-container {
    width: 90%;
    min-height: unset;
  }

  .model-button-container button {
    width: 140px;
    font-size: 0.5rem;
  }

  .model-button-container button h2 {
    font-size: 0.8rem;
  }
}
