.section {
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.section-footer {
  display: flex;
  align-items: flex-end;
}

.center-text {
  text-align: center;
  inline-size: 820px;
}

.section-header__text {
  font-weight: bold;
  padding: 1.7rem 0;
}

.section-footer__text {
  text-align: center;
  inline-size: 570px;
  font-weight: normal;
}

.offers-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.offers-container__two,
.offers-container__three {
  margin-top: 3rem;
}

.model {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border-radius: 1.4rem;
  border: 1px solid var(--greyBg);
  gap: 1rem;
  padding: 0 0 1rem 0;
  transition: all 0.5s;
}

.model:hover {
  transform: scale(1.025);
}

.grey {
  background-color: var(--greyModel);
}

.model-header {
  border-top-right-radius: 1.4rem;
  border-top-left-radius: 1.4rem;
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.beige {
  background-color: var(--beige);
}

.green {
  background-color: var(--green);
  color: white;
}

.model-header__text {
  text-transform: uppercase;
  font-weight: bold;
}

.model-img-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

.threePouches {
  width: 70%;
}

.fivePouches {
  width: 90%;
}

.model-amount {
  color: var(--green);
}

.model-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.model-button-container h6 {
  margin-top: 0.3rem;
}

.model-button-container button {
  border: none;
  background-color: var(--orange);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  width: 90%;
}

.model-button-container {
  width: 90%;
}

.model-button-container button:hover {
  transform: scale(1.025);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.model-pay-options__wrapper {
  width: 50%;
  margin-top: 3rem;
}

.model-button-container h6 {
  margin-top: 0.5rem;
}

.model-pay-options__wrapper img {
  width: 100%;
}

/* Breakpoints */

@media (max-width: 880px) {
  .offers-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
  }

  .model {
    padding: 0 0 1rem 0;
  }

  .section-footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-footer__text {
    inline-size: 370px;
  }

  .center-text {
    inline-size: 450px;
  }

  .section-header__text {
    font-weight: bold;
  }
}

@media (max-width: 480px) {
  .center-text {
    inline-size: 300px;
  }

  .model {
    width: 100%;
  }
}


@media (max-width: 420px) {
  .center-text {
    inline-size: 300px;
  }

  .model {
    width: 100%;
  }

  .section-footer__text {
    inline-size: 310px;
  }
}

@media (max-width: 390px) {

  .model {
    width: 80%;
  }
}