.swiper-container {
  max-width: 1170px;
  padding: 1rem;
  height: 210px;
  
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 50px 30px 20px 30px;
}

.swiper-slide-two {
  background-color: var(--greyBg);
  min-height: 14rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide h4 {
  margin-top: 1.5rem;
}

.rating {
  width: fit-content;
  position: absolute;
  right: 1.7rem;
  bottom: 1.9rem;
}

.quotes {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0.7rem;
}

.quotes img {
  width: 80%;
  opacity: 0.3
}


@media (max-width: 1250px) {
    .swiper-container {
        max-width: 60rem;
    }
}

@media (max-width: 980px) {
    .swiper-container {
        max-width: 50rem;
    }
}

@media (max-width: 860px) {
    .swiper-container {
        max-width: 40rem;
    }
}

@media (max-width: 760px) {
  .swiper-container {
      max-width: 30rem;
  }
}

@media (max-width: 560px) {
  .swiper-container {
      max-width: 27rem;
  }
}

@media (max-width: 460px) {
    .swiper-container {
        max-width: 17rem;
    }
}