.swiper-container {
  max-width: 1170px;
  padding: 1rem;
  height: 210px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  background-color: var(--white);
  box-sizing: border-box;
  padding: 50px 30px 20px 30px;
  min-height: 200px;
}

.swiper-slide-two {
  background-color: var(--greyBg);
  min-height: 260px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.swiper-slide h4 {
  margin-top: 1.5rem;
}

.rating {
  width: fit-content;
  position: absolute;
  right: 1.7rem;
  bottom: 1.9rem;
}

.quotes {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0.7rem;
}

.quotes img {
  width: 80%;
  opacity: 0.3;
}

.from {
  padding: 2rem 0 1rem 0;
  position: absolute;
  bottom: 1rem;
}

/* Breakpoints */

/* Unfortunately i had to hard control the width of the swiper container,
as much as i love css and i couldn't figure the problem.
i didn't give up though, legend says i am still busting my head over this problem lol
(time is of the essence)*/

@media (max-width: 1250px) {
  .swiper-container {
    max-width: 100rem;
  }
}

@media (max-width: 1050px) {
  .swiper-container {
    max-width: 85rem;
  }
}

@media (max-width: 890px) {
  .swiper-container {
    max-width: 70rem;
  }
}

@media (max-width: 760px) {
  .swiper-container {
    max-width: 40rem;
  }
}

@media (max-width: 560px) {
  .swiper-container {
    max-width: 40rem;
  }
}

@media (max-width: 460px) {
  .swiper-container {
    max-width: 30rem;
  }
}

@media (max-width: 340px) {
  .swiper-container {
    max-width: 25rem;
  }
}
